@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color: #00ADB5;
    font-family: Arial, Helvetica, sans-serif;
}


/*Header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
}

header.sticky {
    padding: 5px 100px;
    background: #222831;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}


/*Tarjetas*/

.titulos h2 {
    margin-top: 300px;
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}


/*Card*/

.card-div {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #EEEEEE;
    box-shadow: 0px 1px 10px #393E46;
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px #393E46;
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #EEEEEE;
}


/*Nav inicio*/

.nav {
    position: relative;
    right: 10px;
}


/*Footer*/

.page-footer {
    position: relative;
    top: 50px;
    background-color: #222831;
}

.font-weight-bold {
    color: #EEEEEE;
}

.p-footer {
    color: #EEEEEE;
}


/*Ver más*/

.p-div {
    text-align: center;
}

.a-div {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 400ms ease;
}


/*Ver más*/

.a-div:hover {
    background: black;
    color: #fff;
}


/*Google Maps*/

#map {
    height: 300px;
    width: 100%;
}


/*Mapeo*/

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 2fr) repeat(2, 1fr);
    grid-template-rows: 0.1fr repeat(2, 1fr) repeat(2, 0.1fr) repeat(2, 1fr) repeat(2, 0.1fr) repeat(2, 1fr) repeat(3, 0.1fr) 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 10;
}

.div2 {
    grid-area: 2 / 4 / 3 / 5;
}

.div3 {
    grid-area: 3 / 3 / 5 / 6;
}

.div4 {
    grid-area: 5 / 4 / 6 / 5;
}

.div5 {
    grid-area: 6 / 4 / 7 / 5;
}

.div6 {
    grid-area: 7 / 3 / 9 / 6;
}

.div7 {
    grid-area: 9 / 4 / 10 / 5;
}

.div8 {
    grid-area: 10 / 4 / 11 / 5;
}

.div9 {
    grid-area: 11 / 3 / 13 / 6;
}

.div10 {
    grid-area: 13 / 4 / 14 / 5;
}

.div11 {
    grid-area: 15 / 1 / 17 / 8;
}