* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*Body*/

#body {
    background: #00ADB5;
    min-height: 100vh;
}


/*Header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2.5% 4%;
}

header.sticky {
    padding: 5px 4%;
    background: #222831;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight: 50%;
    transition: 0.6s;
}


/*Slider*/

.slider_div {
    top: 25%;
    position: relative;
    background-color: lightgrey;
}

.slider_div {
    position: relative;
    margin: auto;
    background-color: #00ADB5;
    width: 100%;
    height: 59%;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider_ul {
    position: relative;
    width: 100%;
    height: 30%;
}

ul.slider_ul li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: #EEEEEE;
    transition: opacity .5s;
}

ul.slider_ul li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul.slider_ul li:first-child {
    opacity: 1;
}

ul.slider_ul li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
    margin-top: 30%;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: #EEEEEE;
    text-decoration: none;
    background-color: #EEEEEE;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}


/*Card*/

.card-div {
    width: 100%;
    display: flex;
    max-width: 110%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    margin: 2%;
    border-radius: 6px;
    overflow: hidden;
    background: #EEEEEE;
    box-shadow: 0px 1px 10px #393E46;
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px #393E46;
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 100%;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 40%;
    margin-bottom: 15px;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #2fb4cc;
    color: #EEEEEE;
}


/*Ver mas*/

.p-div {
    text-align: center;
}

.a-div {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #393E46;
    border: 1px solid #393E46;
    border-radius: 4px;
    transition: all 400ms ease;
}

.a-div:hover {
    background: #393E46;
    color: #00ADB5;
}


/*Footer*/

.page-footer {
    position: relative;
    top: 200px;
    background-color: #222831;
}

.font-weight-bold {
    color: #EEEEEE;
}

.p-footer {
    color: #EEEEEE;
}


/*Google Maps*/

#map {
    height: 300px;
    width: 100%;
}


/*Gird Mapeo*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(3, 2fr) repeat(3, 1fr);
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr repeat(2, 0.1fr) 1fr 0.0001fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 11;
}

.div2 {
    grid-area: 2 / 1 / 4 / 11;
}

.div3 {
    grid-area: 4 / 4 / 6 / 7;
}

.div4 {
    grid-area: 6 / 5 / 7 / 6;
}

.div5 {
    grid-area: 7 / 1 / 9 / 10;
}