* {
    margin: 0;
}


/*Body*/

#body {
    background: #00ADB5;
    font-family: Arial, Helvetica, sans-serif;
}


/*Header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
}

header.sticky {
    padding: 5px 100px;
    background: #222831;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}


/*Muestra producto*/

#div-general {
    position: relative;
    top: 200px;
    margin: auto;
    width: 1500px;
    height: 1300px;
    background-color: gray;
}

#informacion {
    float: right;
    width: 500px;
    height: 1300px;
    background-color: gray;
    border: 1px solid black;
}

.p {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

#img-imagen {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border: 1px solid black;
}

#div-imagen {
    margin-bottom: 400px;
    width: 1000px;
    height: 700px;
    background-color: lawngreen;
}

#div-body {
    position: relative;
    bottom: 400px;
    width: 1000px;
    height: 600px;
    background-color: gray;
    border: 1px solid black;
}

.img-qr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    display: block;
}


/*Footer*/

.page-footer {
    position: relative;
    top: 700px;
    background-color: #222831;
}

.font-weight-bold {
    color: #EEEEEE;
}

.p-footer {
    color: #EEEEEE;
}


/*Google Maps*/

#map {
    height: 300px;
    width: 100%;
}


/*Mapeo*/

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 0.1fr repeat(6, 1fr) 0.1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 11;
}

.div2 {
    grid-area: 2 / 2 / 9 / 10;
}

.div3 {
    grid-area: 9 / 1 / 11 / 11;
}